h1 {
    color: red;
    font-size: 80px;
    font-family: 'Dokdo', cursive;
}
.pokemons {
    color: blue;
    font-family: 'Dokdo', cursive;
    font-size: 30px;
    margin-top:-30px;
}
a {
    text-decoration: non
}
p {
    color: blue;
    font-family: 'Dokdo', cursive;
    font-size: 30px;
    margin-top:-30px; 
}



